@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Access to local database has already been done on Nov 20, 2023 by Peng Gu</a>.</p>
</div>
